.idea
client/node_modules
client/jspm_packages
client/npm-debug.log
client/debug.log
client/src/**/*.js
client/!src/systemjs.config.extras.js
client/!src/systemjs.config.js
client/!src/systemjs-angular-loader.js
*.js.map
client/e2e/**/*.js
client/e2e/**/*.js.map
_test-output
_temp
