<header class="main_nav back">
    <div class="container">
        <div class="twelve columns">
            <div class="logo">
                <a class="name" href="#">Summarize me</a>
                <p class="subtitle">instant summarizer | text statistics</p>
                <textarea class="u-full-width description" [(ngModel)]="text" placeholder="Enter text you want to summarize here" id="fullText" required></textarea>
                <input class="button-primary" type="submit" value="Submit" (click)="submit()">
            </div>
        </div>
    </div>
</header>

<!-- This is temporary, find a way to modularize it to submmary.component -->
<div class="container" *ngIf="submitted">
    <div class="twelve columns">
        <h1>Summary:</h1>
        <p class="description">{{summary.text}}</p>
    </div>
    <hr>
    <div class="twelve columns">
        <h1>Statistics:</h1>
        <p class="description">Your text was reduced by <strong>{{summary.reduced_by}}</strong>, this is <strong>{{summary.avg_contrast}}</strong> our current average of <strong>{{summary.avg_current}}</strong>.</p>
        <p class="description">The most relevant words were:</p>
        <ul>
            <li class="description" *ngFor="let word of summary.rel_words">{{word.word}} - {{word.relevancy}}</li>
        </ul>
    </div>
</div>
