<div class="container main">
    <div class="row">
        <h1>Summarize me</h1>
        <p class="description">
            Summarize any body of text you want by 70-80%! Just plug it into the text box and submit it.
        </p>
    </div>

    <div class="row">
        <h1>How it works</h1>
        <ul>
            <li class="description">Removes words with no value from the article (e.g. 'a', 'to', 'am')</li>
            <li class="description">Find most meaningful words</li>
            <li class="description">Assign value to each sentence depending on the words it contains</li>
            <li class="description">Build summary depending on the value of all sentences and the outstanding ones</li>
        </ul>
    </div>
</div>
