<div class="container" *ngIf="submitted">
    <div class="twelve columns">
        <h1>Summary:</h1>
        <p>asdkjnaslfkafdfsdfs</p>
    </div>
    <hr>
    <div class="twelve columns">
        <h1>Statistics:</h1>
        <p>Your text was reduced by <strong>57%</strong>, this is above our current average of <strong>55%</strong>.</p>
        <p>The most relevant words were:</p>
        <ul>
            <li>Barrack</li>
            <li>Trump</li>
            <li>Fake</li>
            <li>News</li>
        </ul>
    </div>
</div>
